body {
  margin:0;
  padding:0;
}

.wrap {
  display:flex;
}

.leftcol {
  border-right:1px solid grey;
  overflow-y:scroll;
  padding-right:1em;
}

.leftcol a.active {
  font-weight:bold;
  color:orange;
}

.middlecol {
  flex:1;
  overflow-x:scroll;
  overflow-y:scroll;
  /*height:100vh;*/
}

{{ pygments_style }}

pre {
  margin:0;
}

.highlight {
  width:100%;
  display:table;
}

.highlight .line {
  display:table-row;
}

.highlight .line.has_comment {
  background-color:#f7f7b8;
}


.highlight .line > span.lineno {
  padding-right:1rem;
  width:3em;
}

.highlight .line > span.code {
  padding-right:1rem;
  min-width:40em;
}

.highlight .line > span.comment {
  overflow-x:scroll;
}

.highlight .line > span {
  display:table-cell;
  vertical-align:middle;
}

.highlight .line pre {
  display:inline;
}

.highlight span.code > pre {
  white-space:pre-wrap;
}

nav ul {
  -webkit-padding-start:0;
  padding-left:1em;
  list-style-type:none;

}

nav ul li {
  padding-left: 0.3em;
}

nav ul li.dir:before {
  content: "\203A";
}

nav ul li.file:before {
  content: "\2022";
  display: inline;
}


header h1, header h2, header h3 {
    display: inline-block;
    margin:0.3em 0em;
}

header {
    color: #2f2f2f;
    border-bottom:#222222 solid 1px;
    padding: 0 2em;
    display: flex;
    align-items: center;
}

header a{
  color:inherit;
  text-decoration:none;
}

header h3 {
    text-align: right;
}

header h3 {flex: 1;}

header h1 {
    padding-right: 2em;
}

a {
    color:#03A9F4;
}


.index {
}

/*.index table {*/
  /*margin:0 auto;*/
/*}*/

.summary {
  padding:1em;
}

.summary table {
  width:100%;
  border:1px solid #222222;
  border-collapse: collapse;
}

.summary table th {
  text-align:left;
  padding:0.4em;
}

.summary table td {
  border:1px solid #222222;
  padding:0.4em;
  vertical-align:top;
}

.summary table td:last-child {
}
